<a href="https://colab.research.google.com/github/PedroPavanii/conditional_statements/blob/main/projeto_SHARK.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Trabalho de limpeza e apresentações dos dados relativos aos ataques de tubarões no mundo. A cada celula discorro a pergunta chave e como cheguei no resultado com códigos comentados.**

## **Importando as bibliotecas e exibindo a tabela principal de trabalho.**

In [192]:
import pandas as pd
import numpy as np
from google.colab import drive 
drive.mount('/drive')
tabela_shark = pd.read_excel('/drive/MyDrive/Shark/GSAF5.xls')


tabela_shark.head(2)

Drive already mounted at /drive; to attempt to forcibly remount, call drive.mount("/drive", force_remount=True).

,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,...,Species,Investigator or Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22
0,25-Mar-2023,2023.0,Unprovoked,USA,Florida,"Blue Fish Channel, Key West, Monroe County",Kite-Surfing,Kevin Carlton Scott,M,67,...,NaN,"Yahoo News, 3/28/2023",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,22-Mar-2023,2023.0,Unprovoked,AUSTRALIA,Western Australia,Delta Island,Wading,Adam Norton,M,30s,...,NaN,"A. Currie, GSAF",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## **1) Quais as espécies que mais atacaram no Brasil nos ultimos 10 anos?**

In [231]:
#ESTABELECENDO FILTROS PARA RESPONDER A QUESTÃO ACIMA.
especies_brasil_a = tabela_shark.loc[:,['Country','Year', 'Species ']]
especies_brasil_b = especies_brasil_a.loc[(especies_brasil_a['Country'] == 'BRAZIL') & (especies_brasil_a['Year'] >= 2003.)] 
especies_c =especies_brasil_b.dropna()


#RETIRANDO TODOS OS NULOS, NOMES DE ESPECIES ERRADOS E VALORES NÃO PERTENCENTES.
especies_d = especies_c[especies_c['Species '].isin(['Lemon shark pup','dogfish','Lemon shark', 'Tiger shark', 'small shark', 'Sandtiger shark','Tiger shark', 'Bull shark',' tiger shark', 'bull shark'])]
especies_final = especies_d.reset_index(drop = True)


#MELHORANDO ESTETICA DA APRESENTAÇÃO DOS VALORES NAS COLUNAS.
especies_final['Species '] = especies_final['Species '].str.title()


#TRADUZINDO AS COLUNAS PARA PORTUGUÊS.
especies_final = especies_final.rename(columns={'Country': 'País', 'Species ': 'Espécies', 'Year': 'Ano'})


#RETIRANDO A COLUNA PAÍS.
especies_final = especies_final.drop('País', axis = 1)
especies_final = especies_final.drop('Ano', axis = 1)


#CRIANDO UM DATAFRAME PARA RELACIONAR ESPECIES POR ANO.
df_especies_final=especies_final.value_counts().reset_index()
df_especies_final.columns = [ 'Espécies', 'Nº de Ataques']


df_especies_final
#FALTA GRAFICO

          Espécies  Nº de Ataques
0       Bull Shark              4
1  Lemon Shark Pup              2
2  Sandtiger Shark              2
3      Tiger Shark              2
4          Dogfish              1
5      Lemon Shark              1
6      Small Shark              1

## **2) Quais as praias do brasil que mais tiveram incidentes?**

In [232]:
#FILTRANDO AS PRAIAS DO BRASIL POR AREA E LOCALIZAÇÃO. RETIRANDO VALORES NULOS E LINHAS COM RESULTADOS NÃO PERTENCENTES.
praias = tabela_shark.loc[:,['Country','Area','Location']]
praias_br = praias.loc[praias['Country'] =='BRAZIL'].dropna().reset_index(drop=True)
praias_br.drop(index =[110, 13, 20, 36], inplace = True)


#REALIZANDO FILTRAGEM, SUBSTITUIÇÃO DE VALORES VISANDO MELHORA ESTETICA E MELHOR VISUALIZAÇÃO.
praias_br['Area']= praias_br['Area'].str.replace(r'\.', ' ', regex=True)
praias_br['Location']= praias_br['Location'].str.replace(r',.*', '', regex=True)
praias_br['Location']= praias_br['Location'].str.replace('Punta Del Chifre', 'Praia Del Chifre')
praias_br['Location']= praias_br['Location'].str.replace('Beach', '')
praias_br['Location']= praias_br['Location'].str.replace('beach', '')
praias_br = praias_br.drop('Country', axis=1)


#CRIANDO UM DATAFRAME QUE RELACIONE AS PRAIAS COM OS INCIDENTES.
df_praia = praias_br['Location'].value_counts().reset_index()
df_praia.columns = ['Praia', 'Nº de Ataques']


df_praia


#praias repetidas nao agruparam
#FALTA GRAFICO

                              Praia  Nº de Ataques
0                           Piedade             17
1                        Boa Viagem             14
2                          Piedade              11
3                       Boa Viagem               9
4                       Copacabana               4
5                             Paiva              4
6                              Pina              3
7                         Cabo Frio              2
8                          Candeias              2
9                     Praia do Pina              2
10                Praia Del Chifre               2
11                   Rio de Janeiro              2
12                 Praia da Marcela              2
13                       Copacabana              2
14                 Barra de Jangada              2
15                           Ilhéus              1
16                      Boa Viagem               1
17              Praia de São Marcus              1
18             Praia de Pau Amarelo              1
19                       Manguinhos              1
20                      Nova Vicosa              1
21                 Praia de Camapum              1
22             Praia do Olho D'Água              1
23                     Pau Amarelo               1
24                           Maceió              1
25                  Atol das Rochas              1
26                 Praia Del Chifre              1
27                        Itamaracá              1
28  Fernando de Noronha Marine Park              1
29                       Boqueirão               1
30                         Ubatuba               1
31                Cacimba do Padre               1
32                   Praia de Porto              1
33                 Cacimba do Padre              1
34                Praia de Sauaçuhy              1
35                       Conceicao               1
36    Escalerio  Balneário Camboriú              1
37                Praia de Milagres              1
38                    Estaleirinho               1
39               Fernano de Noronha              1
40                      Coral Cove               1
41                       Coral Cove              1
42                        Atlantis               1
43                     Olho d'Água               1
44                        Guarajuba              1
45                          Paraiba              1

## **3)Quais as praias que tiveram o maior numeros de incidentes no mundo?**

In [214]:
#IDENTIFICANDO AS PRAIAS DO MUNDO E FILTRANDO AS 5 PRIMEIRAS COM MAIS ATAQUES.
praias_mundo = tabela_shark.loc[:,['Country','Area','Location']]
praias_top5 = praias_mundo.value_counts().head(5)



#REALIZANDO A CRIAÇÃO DE UM DATAFRAME QUE MOSTRE AS 5 PRIMEIRAS RELACIONANDO COM O NUMERO DE ATAQUES.
df_praias_top5 = praias_top5.to_frame().reset_index()
df_praias_top5.columns = ['index','Estado', ' Praia', 'Nº de Ataques'] 
df_praias_top5 = df_praias_top5.drop('index',axis=1)



df_praias_top5

#FALTA GRAFICO

           Estado                             Praia  Nº de Ataques
0         Florida  New Smyrna Beach, Volusia County            189
1         Florida     Daytona Beach, Volusia County             31
2         Florida       Ponce Inlet, Volusia County             26
3  South Carolina        Myrtle Beach, Horry County             21
4         Florida   Melbourne Beach, Brevard County             20