<a href="https://colab.research.google.com/github/PedroPavanii/conditional_statements/blob/main/projeto_SHARK.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Trabalho de limpeza e apresentações dos dados relativos aos ataques de tubarões no mundo. A cada celula discorro a pergunta chave e como cheguei no resultado com códigos comentados.**

## **Importando as bibliotecas e exibindo a tabela principal de trabalho.**

In [192]:
import pandas as pd
import numpy as np
from google.colab import drive 
drive.mount('/drive')
tabela_shark = pd.read_excel('/drive/MyDrive/Shark/GSAF5.xls')


tabela_shark.head(2)

Drive already mounted at /drive; to attempt to forcibly remount, call drive.mount("/drive", force_remount=True).

,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,...,Species,Investigator or Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22
0,25-Mar-2023,2023.0,Unprovoked,USA,Florida,"Blue Fish Channel, Key West, Monroe County",Kite-Surfing,Kevin Carlton Scott,M,67,...,NaN,"Yahoo News, 3/28/2023",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,22-Mar-2023,2023.0,Unprovoked,AUSTRALIA,Western Australia,Delta Island,Wading,Adam Norton,M,30s,...,NaN,"A. Currie, GSAF",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## **1) Quais as espécies que mais atacaram no Brasil nos ultimos 10 anos?**

In [311]:
#ESTABELECENDO FILTROS PARA RESPONDER A QUESTÃO ACIMA.
especies_brasil_a = tabela_shark.loc[:,['Country','Year', 'Species ']]
especies_brasil_b = especies_brasil_a.loc[(especies_brasil_a['Country'] == 'BRAZIL') & (especies_brasil_a['Year'] >= 2003.)] 
especies_c =especies_brasil_b.dropna()


#RETIRANDO TODOS OS NULOS, NOMES DE ESPECIES ERRADOS E VALORES NÃO PERTENCENTES.
especies_d = especies_c[especies_c['Species '].isin(['Lemon shark pup','dogfish','Lemon shark', 'Tiger shark', 'small shark', 'Sandtiger shark','Tiger shark', 'Bull shark',' tiger shark', 'bull shark'])]
especies_final = especies_d.reset_index(drop = True)


#MELHORANDO ESTETICA DA APRESENTAÇÃO DOS VALORES NAS COLUNAS.
especies_final['Species '] = especies_final['Species '].str.title()


#TRADUZINDO AS COLUNAS PARA PORTUGUÊS.
especies_final = especies_final.rename(columns={'Country': 'País', 'Species ': 'Espécies', 'Year': 'Ano'})


#RETIRANDO A COLUNA PAÍS.
especies_final = especies_final.drop('País', axis = 1)
especies_final = especies_final.drop('Ano', axis = 1)


#CRIANDO UM DATAFRAME PARA RELACIONAR ESPECIES POR ANO.
df_especies_final=especies_final.value_counts().reset_index()
df_especies_final.columns = [ 'Species', 'Nº of Atack']


df_especies_final
#FALTA GRAFICO

           Species  Nº of Atack
0       Bull Shark            4
1  Lemon Shark Pup            2
2  Sandtiger Shark            2
3      Tiger Shark            2
4          Dogfish            1
5      Lemon Shark            1
6      Small Shark            1

## **2) Quais as praias do brasil que mais tiveram incidentes?**

In [312]:
#FILTRANDO AS PRAIAS DO BRASIL POR AREA E LOCALIZAÇÃO. RETIRANDO VALORES NULOS E LINHAS COM RESULTADOS NÃO PERTENCENTES.
praias = tabela_shark.loc[:,['Country','Area','Location']]
praias_br = praias.loc[praias['Country'] =='BRAZIL'].dropna().reset_index(drop=True)
praias_br.drop(index =[110, 13, 20, 36], inplace = True)


#REALIZANDO FILTRAGEM, SUBSTITUIÇÃO DE VALORES VISANDO MELHORA ESTETICA E MELHOR VISUALIZAÇÃO.
praias_br['Area']= praias_br['Area'].str.replace(r'\.', ' ', regex=True)
praias_br['Location']= praias_br['Location'].str.replace(r',.*', '', regex=True)
praias_br['Location']= praias_br['Location'].str.replace('Punta Del Chifre', 'Praia Del Chifre')
praias_br['Location']= praias_br['Location'].str.replace('Beach', '')
praias_br['Location']= praias_br['Location'].str.replace('beach', '')
praias_br = praias_br.drop('Country', axis=1)


#CRIANDO UM DATAFRAME QUE RELACIONE AS PRAIAS COM OS INCIDENTES.
df_praia = praias_br['Location'].value_counts().reset_index()
df_praia.columns = ['Beach', 'Nº of Atack']
df_praia.set_index('Beach', inplace=True)

df_praia


#praias repetidas nao agruparam
#FALTA GRAFICO

                                 Nº of Atack
Beach
Piedade                                   17
Boa Viagem                                14
Piedade                                   11
Boa Viagem                                 9
Copacabana                                 4
Paiva                                      4
Pina                                       3
Cabo Frio                                  2
Candeias                                   2
Praia do Pina                              2
Praia Del Chifre                           2
Rio de Janeiro                             2
Praia da Marcela                           2
Copacabana                                 2
Barra de Jangada                           2
Ilhéus                                     1
 Boa Viagem                                1
Praia de São Marcus                        1
Praia de Pau Amarelo                       1
Manguinhos                                 1
Nova Vicosa                                1
Praia de Camapum                           1
Praia do Olho D'Água                       1
Pau Amarelo                                1
Maceió                                     1
Atol das Rochas                            1
Praia Del Chifre                           1
Itamaracá                                  1
Fernando de Noronha Marine Park            1
Boqueirão                                  1
Ubatuba                                    1
Cacimba do Padre                           1
Praia de Porto                             1
Cacimba do Padre                           1
Praia de Sauaçuhy                          1
Conceicao                                  1
Escalerio  Balneário Camboriú              1
Praia de Milagres                          1
Estaleirinho                               1
Fernano de Noronha                         1
Coral Cove                                 1
Coral Cove                                 1
Atlantis                                   1
Olho d'Água                                1
Guarajuba                                  1
Paraiba                                    1

## **3)Quais as praias que tiveram o maior numeros de incidentes no mundo?**

In [315]:
#IDENTIFICANDO AS PRAIAS DO MUNDO E FILTRANDO AS 5 PRIMEIRAS COM MAIS ATAQUES.
praias_mundo = tabela_shark.loc[:,['Country','Area','Location']]
praias_top5 = praias_mundo.value_counts().head(5)



#REALIZANDO A CRIAÇÃO DE UM DATAFRAME QUE MOSTRE AS 5 PRIMEIRAS RELACIONANDO COM O NUMERO DE ATAQUES.
df_praias_top5 = praias_top5.to_frame().reset_index()
df_praias_top5.columns = ['index','State', ' Beach', 'Nº of Atack'] 
df_praias_top5 = df_praias_top5.drop('index',axis=1)
df_praias_top5.set_index('State', inplace=True)


df_praias_top5

#FALTA GRAFICO

                                           Beach  Nº of Atack
State
Florida         New Smyrna Beach, Volusia County          189
Florida            Daytona Beach, Volusia County           31
Florida              Ponce Inlet, Volusia County           26
South Carolina        Myrtle Beach, Horry County           21
Florida          Melbourne Beach, Brevard County           20

## **4) Quais foram os tipos de atividades exercidas no momento do ataque e suas respectivas consequencias?**

In [307]:
#FILTRANDO ATIVIDADES, INJURIAS NO BRASIL.
ataques_ativ = tabela_shark.loc[:,['Country', 'Activity', 'Injury']]
ativ = ataques_ativ.loc[ataques_ativ['Country']=='BRAZIL'].dropna().drop('Country',axis=1)


#TRANSFORMANDO EM DATAFRAME O NUMERO DE ATAQUES POR ATIVIDADE.
df_ativ = ativ['Activity'].value_counts().head(5).to_frame().reset_index()
df_ativ.columns = ['Activity', 'Nº de Atack']
df_ativ.set_index('Activity', inplace=True)

df_ativ

               Nº de Atack
Activity
Surfing                 39
Swimming                34
Fishing                  4
Body boarding            4
Swimming                 3

### 4.1) RESULTADOS DOS ATAQUES/SWIMMING

In [347]:
#FILTRAR RESULTADOS DOS ATAQUES/SWIMMING.
swimming = ataques_ativ.loc[ataques_ativ['Country']=='BRAZIL'].dropna().drop('Country',axis=1)
swimming = swimming.loc[swimming['Activity']=='Swimming']


#CRIAR DATAFRAME MOSTRANDO NUMERO DE CASOS DE INJURIAS. 
df_swimming = swimming['Injury'].value_counts().to_frame().reset_index()
df_swimming.columns = ['Injury', 'Nº of Cases']



#REALIZANDO LIMPEZA PARA MELHOR VISUALIZAÇÃO.
df_swimming['Injury'] = df_swimming['Injury'].str.replace(r'FATAL.*', 'Fatal', regex=True)
df_swimming['Injury'] = df_swimming['Injury'].str.replace(r'^.*Fatal', 'Fatal', regex=True)
df_swimming.set_index('Injury', inplace=True)



df_swimming

#somar linhas

                                                    Nº of Cases
Injury
Fatal                                                        15
Right leg bitten                                              2
Hand severed, buttocks bitten                                 1
Fatal                                                         1
Left thigh bitten, leg surgically amputated                   1
Fatal                                                         1
Right hand lacerated                                          1
Fatal                                                         1
Left hand, foot severed &  left calf & arm bitten             1
Left leg bitten                                               1
Left arm severly injured                                      1
Right thigh bitten resulting in surgical amputa...            1
Cause of death may have been drowning; remains ...            1
Lacerations to scalp                                          1
Minor injury to head                                          1
Minor laceration to ring finger                               1
Multiple severe injuries to arms and leg, leg s...            1
Laceration to lower right leg                                 1
Drowned, body scavenged by shark                              1

### 4.2) RESULTADOS DOS ATAQUES/SURFING

In [350]:
#FILTRAR RESULTADOS DOS ATAQUES/SURFING.
surfing = ataques_ativ.loc[ataques_ativ['Country']=='BRAZIL'].dropna().drop('Country',axis=1)
surfing = surfing.loc[surfing['Activity']=='Surfing']


#CRIAR DATAFRAME MOSTRANDO NUMERO DE CASOS DE INJURIAS. 
df_surfing = surfing['Injury'].value_counts().to_frame().reset_index()
df_surfing.columns = ['Injury', 'Nº of Cases']



#REALIZANDO LIMPEZA PARA MELHOR VISUALIZAÇÃO.
df_surfing['Injury'] = df_surfing['Injury'].str.replace(r'FATAL.*', 'Fatal', regex=True)
df_surfing['Injury'] = df_surfing['Injury'].str.replace(r'^.*Fatal', 'Fatal', regex=True)
df_surfing.set_index('Injury', inplace=True)



df_surfing

#somar linhas

                                                    Nº of Cases
Injury
Survived                                                      8
Leg bitten                                                    2
Right thigh bitten                                            2
Foot bitten                                                   2
Fatal                                                         2
Injuries to left thih and calf                                1
Leg injured                                                   1
Arm bitten                                                    1
Left foot severed                                             1
Fatal                                                         1
Lacerations to left foot                                      1
Right leg bitten                                              1
Fatal                                                         1
Leg & hands bitten                                            1
Leg bitten, surgically amputated                              1
Right hand severed                                            1
Puncture wounds to right hand                                 1
Hand & foot lacerated,  lower left leg severely...            1
Right thigh & ankle injured                                   1
Injuries to left thigh, calf & foot                           1
Laceration to left leg & foot                                 1
No injury, board bitten                                       1
Lacerations to right thigh                                    1
Legs bitten                                                   1
Injury to left thigh from unidentified species ...            1
Minor injury to left forearm                                  1
Minor injury to face                                          1
Lower leg bitten, surgically amputated                        1

### 4.3) RESULTADOS DOS ATAQUES/FISHING

In [351]:
#FILTRAR RESULTADOS DOS ATAQUES/FISHING.
fishing = ataques_ativ.loc[ataques_ativ['Country']=='BRAZIL'].dropna().drop('Country',axis=1)
fishing = fishing.loc[fishing['Activity']=='Fishing']


#CRIAR DATAFRAME MOSTRANDO NUMERO DE CASOS DE INJURIAS. 
df_fishing = fishing['Injury'].value_counts().to_frame().reset_index()
df_fishing.columns = ['Injury', 'Nº of Cases']


#REALIZANDO LIMPEZA PARA MELHOR VISUALIZAÇÃO.
df_fishing['Injury'] = df_fishing['Injury'].str.replace(r'FATAL.*', 'Fatal', regex=True)
df_fishing['Injury'] = df_fishing['Injury'].str.replace(r'^.*Fatal', 'Fatal', regex=True)
df_fishing.set_index('Injury', inplace=True)


df_fishing

#somar linhas

                                                    Nº of Cases
Injury
Cut to toe from hooked shark PROVOKED INCIDENT                1
Injury to ankle from marine animal trapped in w...            1
Severe injury to arm                                          1
2 fingers severed by netted shark PROVOKED INCI...            1

4.4) RESULTADOS DOS ATAQUES/BODY BOARDING

In [352]:
#FILTRAR RESULTADOS DOS ATAQUES/Body boarding.
body_boarding = ataques_ativ.loc[ataques_ativ['Country']=='BRAZIL'].dropna().drop('Country',axis=1)
body_boarding = body_boarding.loc[body_boarding['Activity']=='Body boarding']


#CRIAR DATAFRAME MOSTRANDO NUMERO DE CASOS DE INJURIAS. 
df_body_boarding = swimming['Injury'].value_counts().to_frame().reset_index()
df_body_boarding.columns = ['Injury', 'Nº of Cases']



#REALIZANDO LIMPEZA PARA MELHOR VISUALIZAÇÃO.
df_body_boarding['Injury'] = df_body_boarding['Injury'].str.replace(r'FATAL.*', 'Fatal', regex=True)
df_body_boarding['Injury'] = df_body_boarding['Injury'].str.replace(r'^.*Fatal', 'Fatal', regex=True)
df_body_boarding.set_index('Injury', inplace=True)



df_body_boarding

#somar linhas

                                                    Nº of Cases
Injury
Fatal                                                        15
Right leg bitten                                              2
Hand severed, buttocks bitten                                 1
Fatal                                                         1
Left thigh bitten, leg surgically amputated                   1
Fatal                                                         1
Right hand lacerated                                          1
Fatal                                                         1
Left hand, foot severed &  left calf & arm bitten             1
Left leg bitten                                               1
Left arm severly injured                                      1
Right thigh bitten resulting in surgical amputa...            1
Cause of death may have been drowning; remains ...            1
Lacerations to scalp                                          1
Minor injury to head                                          1
Minor laceration to ring finger                               1
Multiple severe injuries to arms and leg, leg s...            1
Laceration to lower right leg                                 1
Drowned, body scavenged by shark                              1